@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http://i.hdu.edu.cn/") {
  
  
  /*被隐藏的内容*/
  #header,
  #homeMiddelBannerWidet-content,
  #wk_fourHomeWidget-content,
  #wk_weatherHomeWidget-content,
  .left,
  .work_windows,
  .app_list_btn_box,
  .application_list_explain,
  .wk_midpimwidget,
  #footer,
  .app_btn_gray_gear,
  div.quickhome_title.hp_title,
  #wk_calendarHomeWidget-content,
  .application_list_title,
  .wk_applicationlistwidget,
  .user_brief_info,
  #innerdiv:first-child,
  .circle_space_left,
  li [train_id] :not(.last),
  #head_sculpture,
  a[src*="3668"],
  .meeting_notice_content,
  .meeting_notice_title,
  .highlight
  .margin_bottom_10,
  .margin_top_10,
  #outdiv,
  #container
  {
    visibility: hidden  !important;
  }
  
  #header,
  #footer,
  .post_close,
  #addEmail
  /*  TODO ：附加功能磁贴====================*/
  
  #addTrain,
  #TRAIN
  
  /*  ======================================*/
  {
    display: none;
  }

  #container_content
  {
    height: 0px !important;
    width: 0px !important;
    min-height: 0;
    min-width: 0;
  }
  /*  减小页面宽度和高度  */
  
  
  /*要显示的内容*/
  .user_name a,
  .meeting_notice_content,
  .quickhome_item_link font,
  .links,
  span.highlight,
  .quickhome_item_close,
  .user_name
  {
    visibility: visible !important;
    display: block !important;
  }
  
/*   自定义Style开始 */
  
  body{
    background-color: black;
    margin: 0px;
    padding: 0px !important;
  } /*黑色背景*/
  
  div[appid~="1142"],
  div[appid~="4080"],
  li.unreadmail,
  div.meeting_notice_content
  {
    visibility: visible !important;
    /*display: inline;*/
    background-color: #0078d7;
    width: 18% !important;
    min-width: 120px;
    height: 20% !important;
    min-height: 130px;
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    top: 20%;
  }/*  主磁贴*4  */
  
  
 /*  
  *==================一卡通开始==================
  */
  div.meeting_notice_content{
    left: 10%;
  }
/*  主div  */
  
  
  .number_blue,
  .span_gray_letter
  {
    height: 1.2em;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute !important;
    font-size: 150%;
    font-family: 黑体;
    color: black !important;
  }
  /*  余额 XXX   元   */
  
  .number_blue{
    position: absolute !important;
    right: 1.8em;
    bottom: 0.45em;
  }
/*  数字  */
  
  .span_gray_letter{
    right: 0.5em;
    bottom: 0.3em;
  }
/*  元  */
  
  a.sign_blue{
    position: absolute !important;
    margin: 0px !important;
    padding: 0px !important;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0,0,0,0) !important;
    background-color: #0078d7;
  }
/*  点击元素  */
  
  
  div a.sign_blue:after{
    content: "";
    background-image: url(http://7xrawc.com1.z0.glb.clouddn.com/ModerniHduCampusCard.png);
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: auto 50%;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible !important;
  }
 /*
  *==================一卡通结束==================
  */
  
  
  
  
 /*  
  *==================邮件开始==================
  */
  
  li.unreadmail{
    left: 31%;
  }/*  磁贴位置  */
  
  div.count{
    position: absolute !important;
    right: 0.5em;
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
  }/*  未读计数位置  */
  
  
  span.highlight{
    color: black !important;
    font-family: 黑体;
    position: absolute !important;
    top: 0;
    right: 0;
    margin: 0 !important;
    height: 1em;
  }/*  强制设置计数字体和颜色  */
  
  
  span.label{
    position: absolute !important;
    bottom: 0;
    right: 0;
    margin: 0 !important;
    font-size: 150% !important;
    font-family: 黑体;
    color: black !important;
    width: 4em !important;
    bottom: 0.15em;
    right: 1.6em;
  }/*    未读邮件 四字    */
  
  
  div.links :nth-child(3)
  {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: rgba(0,0,0,0) !important;
  }/*  点击元素  */
  
  div.links :nth-child(3):after{
    content: "";
    background-image: url(http://7xrawc.com1.z0.glb.clouddn.com/ModerniHduMail.png);
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: auto 40%;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible !important;
  }
  
  
 /*  
  *==================邮件结束==================
  */
  
  
  
 /*  
  *==================选课系统开始==================
  */
  div.app_btn_gray,
  div.app_btn_white{
    background: none !important;
  }/*  强制取消按钮背景，包括所有 app 元素，这里是选课系统和银校通  */
  
  div[appid~="1142"]
  {
    left: 52%;
    background-color: #0078d7 !important;
     vertical-align: bottom !important;
  }/*  系统磁贴  */
  
  
  a[appid~="1142"]{
    background: none;
  }
  

  div[appid~="1142"] a.app_btn_gray_name{
    color: rgba(0,0,0,0);
    display: block !important;
    width: 100%;
    height: 100%;
  }
/**  
  *原来的a标签，需要利用它的链接，但不易改变文字位置。故构造一个儿子，令它的儿子显示文字标签。
  *a标签自身近提供点击功能
  *
  **/
  
  div[appid~="1142"] a.app_btn_gray_name:before{
    content: "选课系统";
    display: block;
    position: absolute;
    bottom: 0.2em;
    right: 0.5em;
    color: black;
    font-size: 150%;
    font-family: 黑体;
  }
/*  a标签的儿子标签 ，选课系统 四个字 */
  
  div[appid~="1142"] a.app_btn_gray_name:after{
    content: "";
    background-image: url(http://7xrawc.com1.z0.glb.clouddn.com/CourceSelectionSystem.png);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: auto 46%;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible !important;
  }
  
  
 /*  
  *==================选课系统结束==================
  */
  
 /*  
  *==================银校通开始==================
  */
  
  div[appid~="4080"]
  {
    left: 73%;
    background-color: #0078d7 !important;
  }/*  系统磁贴  */
  
  
  
  a[appid~="4080"]{
    background: none;
  }
  

  div[appid~="4080"] a.app_btn_gray_name{
    color: rgba(0,0,0,0);
    display: block !important;
    width: 100%;
    height: 100%;
  }
/*  原来的a标签，需要利用它的链接，但不易改变文字位置。故构造一个儿子，令它的儿子显示文字标签。
    a标签自身近提供点击功能
  */
  
  div[appid~="4080"] a.app_btn_gray_name:before{
    content: "银校通";
    display: block;
    position: absolute;
    bottom: 0.2em;
    right: 0.5em;
    color: black;
    font-size: 150%;
    font-family: 黑体;
  }
/*  a标签的儿子标签 ，选课系统 四个字 */
  
  div[appid~="4080"] a.app_btn_gray_name:after{
    content: "";
    background-image: url(http://7xrawc.com1.z0.glb.clouddn.com/ModerniHduTuition.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: auto 65%;
    position: absolute !important;
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible !important;
  }
  
 /*  
  *==================银校通结束==================
  */
  
  #TRAIN {
    position: absolute !important;
    background-color: white !important;
    top: 38%;
    right: 9%;
    left: 10%;
    height: 18%;
    box-shadow: 10px 10px 10px white !important;
    display: none;
  }
  
  li[train_id~="2046"] {
    background-color: white !important;
  }
  
  
  .user_name a{
    text-decoration: none;
    font-weight: normal;
    color: #aaaaaa !important;
    font-size: 200%;
    position: fixed;
    top:8%;
    right: 9%;
  }/*  用户名  */
  
}